html,
body {
    height: 100%;
    width: 100%;
    padding: 1%;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStroXMGmB1fSM74ZJk7mqMeo5fqlwP6K8iftDehfbTKjRaleYwdfSeoGHxHldJWk87gmk&usqp=CAU);
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif
}

h2 {
    color: purple;
    font-family: 'Poppins', sans-serif;
}

.topnav {
    position: sticky;
}